<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}Marathon du Web lp 3{% endblock %}</title>
        <style>
            @font-face {
                font-family: 'Vidaloka';
                src: url({{ asset("build/fonts/Vidaloka-Regular.ttf") }});
                src: url({{ asset("build/fonts/Vidaloka-Regular.ttf") }}) format('truetype'),
                url({{ asset("build/fonts/Vidaloka-Regular.ttf") }}) format('woff'),
                url({{ asset("build/fonts/Vidaloka-Regular.ttf") }}) format('embedded-opentype'),
                url({{ asset("build/fonts/Vidaloka-Regular.ttf") }}) format('svg');
                font-weight: normal;
                font-style: normal;
            }

            @font-face {
                font-family: 'Open Sans';
                src: url({{ asset("build/fonts/OpenSans-Light.ttf") }});
                src: url({{ asset("build/fonts/OpenSans-Light.ttf") }}) format('truetype'),
                url({{ asset("build/fonts/OpenSans-Light.ttf") }}) format('woff'),
                url({{ asset("build/fonts/OpenSans-Light.ttf") }}) format('embedded-opentype'),
                url({{ asset("build/fonts/OpenSans-Light.ttf") }}) format('svg');
                font-weight: 300;
                font-style: normal;
            }

            @font-face {
                font-family: 'Open Sans';
                src: url({{ asset("build/fonts/OpenSans-Regular.ttf") }});
                src: url({{ asset("build/fonts/OpenSans-Regular.ttf") }}) format('truetype'),
                url({{ asset("build/fonts/OpenSans-Regular.ttf") }}) format('woff'),
                url({{ asset("build/fonts/OpenSans-Regular.ttf") }}) format('embedded-opentype'),
                url({{ asset("build/fonts/OpenSans-Regular.ttf") }}) format('svg');
                font-weight: 400;
                font-style: normal;
            }

            @font-face {
                font-family: 'Open Sans';
                src: url({{ asset("build/fonts/OpenSans-SemiBold.ttf") }});
                src: url({{ asset("build/fonts/OpenSans-SemiBold.ttf") }}) format('truetype'),
                url({{ asset("build/fonts/OpenSans-SemiBold.ttf") }}) format('woff'),
                url({{ asset("build/fonts/OpenSans-SemiBold.ttf") }}) format('embedded-opentype'),
                url({{ asset("build/fonts/OpenSans-SemiBold.ttf") }}) format('svg');
                font-weight: 500;
                font-style: normal;
            }

            @font-face {
                font-family: 'Open Sans';
                src: url({{ asset("build/fonts/OpenSans-Bold.ttf") }});
                src: url({{ asset("build/fonts/OpenSans-Bold.ttf") }}) format('truetype'),
                url({{ asset("build/fonts/OpenSans-Bold.ttf") }}) format('woff'),
                url({{ asset("build/fonts/OpenSans-Bold.ttf") }}) format('embedded-opentype'),
                url({{ asset("build/fonts/OpenSans-Bold.ttf") }}) format('svg');
                font-weight: 600;
                font-style: normal;
            }
        </style>
        {% block stylesheets %}
            <link rel="stylesheet"
                  href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
                  integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
                  crossorigin="anonymous" />

            <!-- Optional theme -->
            <link rel="stylesheet"
                  href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
                  integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp"
                  crossorigin="anonymous" />
            <link rel="stylesheet" href="{{ asset("build/style.css") }}">

        {% endblock %}
    </head>
    <body>
        {% block menu %}{% include "menu.html.twig" %}{% endblock %}
        {% block body %}{% endblock %}
        {% block javascripts %}
            <script src='{{ asset("build/dist/js/libs.js") }}'></script>
            <script src='{{ asset("build/dist/js/main.js") }}'></script>
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
                    integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
                    crossorigin="anonymous"></script>
        {% endblock %}
    </body>
</html>
