<nav>
    <div class="logo"><img src="{{ asset("build/img/nav/logo.png") }}" alt="Logo Yummi"></div>
    <div class="list">
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="{{ path("recipe_all") }}">Recettes</a></li>
            <li><a href="">Articles</a></li>
            {% if is_granted('ROLE_USER') %}
                <li><a href="{{ path('logout') }}">Déconnexion</a></li>
                <li><a href="/">Mon Compte</a></li>
            {% elseif is_granted('ROLE_ADMIN') %}
                <li><a href="{{ path('admin_create_recipe') }}">Creer une recette</a></li>
                <li><a href="/">Creer un article</a></li>
            {% else %}
                <li><a href="{{ path('login') }}">Connexion</a></li>
                <li><a href="{{ path("register") }}">Inscription</a></li>
            {% endif %}
        </ul>
    </div>
</nav>

<div class="burger">
    <div class="this"></div>
</div>