{% extends "base.html.twig" %}

{% block body %}
    <ul>
        {% for article in articles %}
            <li>
                <a href="{{ path("article_view", {id:article.id}) }}">{{ article.title }}</a>
                {% if is_granted('ROLE_ADMIN') %}
                    <a class= "btn btn-info" href="{{ path('admin_edit_article', {id:article.id}) }}">Editer</a>
                    <a class= "btn btn-alert" href="{{ path('admin_delete_article', {id:article.id}) }}">Supprimer</a>
                {% endif %}
            </li>
        {% endfor %}
    </ul>

    <div class="navigation">
        {{ knp_pagination_render(articles) }}
    </div>
{% endblock %}